body {
  font-size: 14px;
  font-family: $font-prime;
}

h1 {
  @include fluid-type(3em, 9em);
  font-weight: 100;
  background: -webkit-linear-gradient($color-5, $color-6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: $pad-sm;
  span.ex {
    @include fluid-type(0.3em, 0.4em);
    vertical-align: middle;
    font-weight: 500;
  }
}

h2 {
  @include fluid-type(1em, 1.2em);
  letter-spacing: 5px;
  font-weight: 200;
}

h3 {
  @include fluid-type(0.9em, 1em);
  font-weight: 400;
  letter-spacing: 2px;
}

p {
  line-height: 1.75;
}

.caption {
  font-size: 0.8em;
  letter-spacing: 1px;
  line-height: 1;
}

a {
  color: $color-10;
  position: relative;
  text-decoration: none;
  transition: all .2s ease;

  &:after {
    content: "";
    border-bottom: 2px solid $color-10;
    position: absolute;
    top: 0;
    left: 15%;
    transform: translateY(10px); /*X axis also possible */
    transition: all 0.4s ease;
    opacity: 0;
    height: 100%;
    width: 70%;
  }

  &:hover,
  &:active,
  &:focus {
    color: $color-6;
    outline: none;

    &:after {
      border-color: $color-6;
      opacity: 1;
      transform: translateY(2px);
    }
  }
}
