body {
  font-family: $font-prime;
  font-size: 14px;
  color: $color-1;
}

h1,h2.title {
  @include fluid-type(3.3em, 10em);
  background: -webkit-linear-gradient($color-5, $color-6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: $pad-xs;
  font-weight: 100;
  line-height: 1;

  span.ex {
    @include fluid-type(0.2em, 0.3em);
    font-weight: 400;
    line-height: 0;
    vertical-align: middle;
  }
}

h2.title {
  @include fluid-type(2.5em, 6em);
}

h2 {
  @include fluid-type(1.6em, 2em);
  font-weight: 500;
  letter-spacing: 5px;

  &.sub-title {
    @include fluid-type(1em, 1.2em);
    font-weight: 500;
    letter-spacing: 5px;
  }
}

h3 {
  @include fluid-type(1em, 1.3em);
  margin-bottom: $pad;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.5;
}

.card--blue-light h3 {
  background: -webkit-linear-gradient($color-5, $color-6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  @include fluid-type(1em, 1.2em);
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 1.75;
}

.caption {
  font-size: 0.8em;
  letter-spacing: 1px;
  line-height: 1;
}

.rose {
  background: -webkit-linear-gradient($color-8, $color-7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue {
  background: -webkit-linear-gradient($color-9, $color-10);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  @include fluid-type(1em, 1.1em);
  position: relative;
  color: lighten($color-10, 20%);
  font-weight: 600;
  text-decoration: none;
  transition: all .2s ease;

  &:after {
    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
    height: 100%;
    transform: translateY(10px); /*X axis also possible */
    border-bottom: 2px solid $color-10;
    content: "";
    opacity: 0;
    transition: all 0.4s ease;
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;
    color: $color-6;

    &:after {
      transform: translateY(2px);
      border-color: $color-6;
      opacity: 1;
    }
  }
}

code {
  background-color: $color-12;
  border-radius: 10px;
  color: $color-1;
  display: block;
  font-family: monospace;
  margin: $pad 0;
  padding: $pad;
}
