.card {
  box-sizing: border-box;
  margin: $pad;
  padding: $pad;
  border-radius: 8px;
  background-color: lighten($color-1, 3%);
  color: $color-4;

  &--rose {
    @extend .card;
      background: -webkit-linear-gradient($color-8-o, $color-7-o);
      color: $color-1;
  }

  &--blue-light {
    @extend .card;
      background: -webkit-linear-gradient($color-9-o, $color-10-o);
      color: $color-1;
  }

  &__grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    @media (min-width: $screen-desktop) {
      grid-template-columns: 1fr 1.7fr 1fr;
    }

    &__card {
      background: -webkit-linear-gradient($color-8, $color-7);
      margin: $pad;
      padding: $pad;
      border-radius: 8px;
      text-align: center;
      color: $color-1;
    }
  }

  &__grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    @media (min-width: $screen-desktop) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
