.body {
  position: relative;
  background-color: $color-1;

  @media (min-width: $screen-desktop) {
  }

  &__background {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
  }
}

.header {
  margin: 14rem $pad $pad-lg;
  background: linear-gradient(rgba($color-1, 0%), rgba($color-1, 100%), rgba($color-1, 0%));
  text-align: center;
}
